@model List<MyMoviesViewModel>
@{
    ViewData["Title"] = "AddMyFavoriteMovies";
}
    <head>
        <meta charset="UTF-8">
    </head>
<body>
 
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" style="color:white">Movie</th>
                <th scope="col" style="color:white">Year</th>
                <th scope="col" style="color:white">Added on date</th>
                <th scope="col" style="color:white">Remove from list</th>
                <th scope="col" style="color:white">Rate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="color:white">
                        @item.Title
                    </td>
                    <td style="color:white">
                        @item.Year
                    </td>
                    <td style="color:white">
                        @item.AddOn.ToShortDateString();
                    </td>
                    <td>
                        <button class="btn btn-info" style="font-size:14px" onclick="ReviewedMovie(@item.Id)">
                            Watched <i class="fa fa-eye"></i>
                        </button>
                    </td>
                    <td>
                        <form class="rating">
                            <label>
                                <input type="radio" name="stars" value="1 @item.Id" />
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="2  @item.Id" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="3  @item.Id" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="4  @item.Id" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="5  @item.Id" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button class="btn btn-info" onclick="GoHome()">Home</button>
</body>
